<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <!-- library stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-toggle.min.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-select.css" type="text/css">
    
    <!-- jquery -->
    <script src="js/libs/jquery/jquery-3.4.1.min.js"></script>
    
    <!-- backbone and dependencies -->
    <script src="js/libs/backbone/underscore.js"></script>
    <script src="js/libs/backbone/json2.js"></script>
    <script src="js/libs/backbone/backbone.js"></script>
    
    <!-- jquery-ui and stylesheets -->
    <script src="js/libs/jqueryui/jquery-ui.js"></script>
    
    
    <!-- bootstrap -->
    <script src="js/libs/bootstrap/bootstrap.bundle.js"></script>
    <script src="js/libs/bootstrap/bootbox.min.js"></script>
    <script src="js/libs/bootstrap/bootstrap-toggle.min.js"></script>
    <script src="js/libs/bootstrap/bootstrap-select.min.js"></script>
    
    <!-- application styles -->
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    
    <!-- calculator utils -->
    <script src="js/moqc-oc-utils.js"></script>
    
    <!-- datamap -->
    <script src="js/moqc-oc-datamap.js"></script>

  </head>
  
  <body>
    
    <div class="container-fluid d-flex flex-column" style="height: 100vh"> 
        <div class="row">
	        <div id="header" class="col-sm-12">
                
	        </div>
	    </div>
	    <div class="row">
            <div id="mainpage" class="col-sm-12">
            
            </div>
        </div>
    </div>
    
    <script type="text/template" id="oc-header-template">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-3 text-center align-self-center title-purple">
                    <a href="https://moqc.org/"><img src="images/MOQClogo-pad.png" id="logoImage" width="64" height="48" title="" alt=""></a>
                    Opioid Calculator
                </div>
                
                <div class="col-sm-7">
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="oc-home-template">

        <form class="was-validated" id="ocForm">

            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-md-2">
                    </div>

                    <div class="col-md-8">

                        <div class="row opnoteDisclaimerBold">
                            The information provided on this website is "as-is" and makes no representations or warranties in relation to the medical information on this website.
                        </div>

                        <div class="row spacedRow opnoteDisclaimer">
                            I agree that the website host and developer will not be held responsible for any errors or consequences in management of patient care resulting from such errors. I will confirm that the information is correct before using it in any documentation.
                        </div>

                        <div class="row spacedRow">
                            <div class="col-sm-6 text-center align-self-center opnoteListTitle">
                                <%= score_age.text %>
                            </div>
                            
                            <div class="col-sm-6 text-center align-self-center">
                                <div class="btn-group btn-group-toggle updateScore" data-toggle="buttons">
                                    <% score_age.inputs.forEach(input => { %>
                                    <label class="btn btn-outline-secondary">
                                        <input type="radio" name="<%= score_age.name %>" id="<%= input.id %>" value="<%= input.value %>"><%= input.text %>
                                    </label>
                                    <% }) %>
                                </div>
                            </div>
                        </div>


                        
                        <div class="row spacedRow">
                            <div class="col-sm-6 text-center align-self-center opnoteListTitle">
                                <%= risk_depression.text %>
                            </div>
                            
                            <div class="col-sm-6 text-center align-self-center">
                                <div class="btn-group btn-group-toggle updateScore" data-toggle="buttons">
                                    <% risk_depression.inputs.forEach(input => { %>
                                    <label class="btn btn-outline-secondary">
                                        <input type="radio" name="<%= risk_depression.name %>" id="<%= input.id %>" value="<%= input.value %>"><%= input.text %>
                                    </label>
                                    <% }) %>
                                </div>
                            </div>
                        </div>

                        <div class="row spacedRow">
                            <div class="col-sm-6 text-center align-self-center opnoteListTitle">
                                <%= risk_anxiety.text %>
                            </div>
                            
                            <div class="col-sm-6 text-center align-self-center">
                                <div class="btn-group btn-group-toggle updateScore" data-toggle="buttons">
                                    <% risk_anxiety.inputs.forEach(input => { %>
                                    <label class="btn btn-outline-secondary">
                                        <input type="radio" name="<%= risk_anxiety.name %>" id="<%= input.id %>" value="<%= input.value %>"><%= input.text %>
                                    </label>
                                    <% }) %>
                                </div>
                            </div>
                        </div>

                        <div class="row spacedRow">
                            <div class="col-sm-6 text-center align-self-center opnoteListTitle">
                                <%= risk_coa.text %>
                            </div>
                            
                            <div class="col-sm-6 text-center align-self-center">
                                <div class="btn-group btn-group-toggle updateScore" data-toggle="buttons">
                                    <% risk_coa.inputs.forEach(input => { %>
                                    <label class="btn btn-outline-secondary">
                                        <input type="radio" name="<%= risk_coa.name %>" id="<%= input.id %>" value="<%= input.value %>"><%= input.text %>
                                    </label>
                                    <% }) %>
                                </div>
                            </div>
                        </div>

                        <div class="row spacedRow">
                            <div class="col-sm-6 text-center align-self-center opnoteListTitle">
                                <%= risk_aa.text %>
                            </div>
                            
                            <div class="col-sm-6 text-center align-self-center">
                                <div class="btn-group btn-group-toggle updateScore" data-toggle="buttons">
                                    <% risk_aa.inputs.forEach(input => { %>
                                    <label class="btn btn-outline-secondary">
                                        <input type="radio" name="<%= risk_aa.name %>" id="<%= input.id %>" value="<%= input.value %>"><%= input.text %>
                                    </label>
                                    <% }) %>
                                </div>
                            </div>
                        </div>

                        <div class="row spacedRow">
                            <div class="col-sm-6 text-center align-self-center opnoteListTitle">
                                <%= risk_pain.text %>
                            </div>
                            
                            <div class="col-sm-6 text-center align-self-center">
                                <div class="btn-group btn-group-toggle updateScore" data-toggle="buttons">
                                    <% risk_pain.inputs.forEach(input => { %>
                                    <label class="btn btn-outline-secondary">
                                        <input type="radio" name="<%= risk_pain.name %>" id="<%= input.id %>" value="<%= input.value %>"><%= input.text %>
                                    </label>
                                    <% }) %>
                                </div>
                            </div>
                        </div>



                        <div class="row spacedRow">
                            <div class="col-sm-6 text-center align-self-center opnoteListTitle">
                                <%= admitted.text %>
                            </div>
                            
                            <div class="col-sm-6 text-center align-self-center">
                                <div class="btn-group btn-group-toggle admitted-buttons updateScore" data-toggle="buttons">
                                    <% admitted.inputs.forEach(input => { %>
                                    <label class="btn btn-outline-secondary">
                                        <input type="radio" name="<%= admitted.name %>" id="<%= input.id %>" value="<%= input.value %>"><%= input.text %>
                                    </label>
                                    <% }) %>
                                </div>
                            </div>
                        </div>

                        <div id="moreInfoDiv">
                        </div>


                        <div class="row scoreRow">
                            <div class="col-sm-6 text-center align-self-center opnoteListTitle">
                                RECOMMENDED PILL COUNT
                            </div>
                            
                            <div class="col-sm-6 text-center align-self-center" id="scoreLabel">
                                <div class="button updateScore" id="calculateButtonDiv">
                                    <input type="button" class="btn btn-outline-success" id="calculateFormButton" value="Show Pill Count">
                                </div>
                                <div id="countLabelDiv" hidden>

                                </div>
                            </div>
                        </div>

                        <div class="row footerRow opnoteDisclaimer text-center">
                            To find out more details on how this calculator was developed, please reference the following publication in Gynocological Oncology:&nbsp;<a href ="https://pubmed.ncbi.nlm.nih.gov/34226021/">https://pubmed.ncbi.nlm.nih.gov/34226021/</a>
                        </div>


                    </div>

                    <div class="col-md-2">
                    </div>


                </div>
            </div>

        </form>

    </script>

    <script type="text/template" id="oc-admitted-template">
        
        <div class="row spacedRow" id="admitted-div">
            <div class="col-sm-6 text-center align-self-center opnoteListTitle">
                <%= score_approachAdmitted.text %>
            </div>
            
            <div class="col-sm-6 text-center align-self-center">
                <div class="btn-group btn-group-toggle updateScore" data-toggle="buttons">
                    <% score_approachAdmitted.inputs.forEach(input => { %>
                    <label class="btn btn-outline-secondary">
                        <input type="radio" name="<%= score_approachAdmitted.name %>" id="<%= input.id %>" class="admittedInput" value="<%= input.value %>"><%= input.text %>
                    </label>
                    <% }) %>
                </div>
            </div>
        </div>

        <div class="row spacedRow" id="appadmitted-div">
            <div class="col-sm-6 text-center align-self-center opnoteListTitle">
                <%= score_currentlyUsing.text %>
            </div>
            
            <div class="col-sm-6 text-center align-self-center">
                <div class="btn-group btn-group-toggle updateScore" data-toggle="buttons">
                    <% score_currentlyUsing.inputs.forEach(input => { %>
                    <label class="btn btn-outline-secondary">
                        <input type="radio" name="<%= score_currentlyUsing.name %>" id="<%= input.id %>" class="admittedInput" value="<%= input.value %>"><%= input.text %>
                    </label>
                    <% }) %>
                </div>
            </div>
        </div>

    </script>

    <script type="text/template" id="oc-nonadmitted-template">

        <div class="row spacedRow" id="nonadmitted-div">
            <div class="col-sm-6 text-center align-self-center">
                <div class="row opnoteListTitleRows">
                    <%= score_approachDischarge.text %>
                </div>
                <div class="row opnoteListTitleSubRows">
                    Minor MIS Procedures are:
                </div>
                <div class="row opnoteListTitleSubRows" style="margin-left: 38px;">
                    1. Unilateral or bilateral Salpingo-oophorectomy without mini-lap for specimen retrieval
                </div>
                <div class="row opnoteListTitleSubRows" style="margin-left: 38px; margin-bottom: 8px;">
                    2. Laparoscopic Evaluation and biopsies
                </div>
                <div class="row opnoteListTitleSubRows">
                    <b>Any other procedure is Minimally Invasive</b>
                </div>
            </div>
            
            <div class="col-sm-6 align-self-center">

                <div class="row">

                    <div class="col-sm-12 text-center align-self-center">
                        <div class="btn-group btn-group-toggle mis-buttons updateScore" data-toggle="buttons">
                            <% score_approachDischarge.inputs.forEach(input => { %>
                            <label class="btn btn-outline-secondary">
                                <input type="radio" name="<%= score_approachDischarge.name %>" id="<%= input.id %>" class="admittedInput" value="<%= input.value %>"><%= input.text %>
                            </label>
                            <% }) %>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>

    </script>


    <script type="text/template" id="oc-warning-template">

        <div class="warningParagraph">
            Users should take responsibility of checking the accuracy of this website prior to using the contents in critical situations, such as documentation in patient chart or medical records. The information provided on this website is "as-is" and makes no representations or warranties in relation to the medical information on this website.
        </div>

        <div class="warningParagraph">
            I agree that the website host and developer will not be held responsible for any errors or consequences in management of patient care resulting from such errors. I will confirm that the information is correct before using it in any documentation.
        </div>
    </script>

    <script type="text/template" id="oc-reports-header-template">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                </div>

                <div class="col-sm-8">


                    <div class="row scoreRow ">
                        <div class="col-sm-12 text-center align-self-center opnoteListTitle">
                            Opioid Calculator Reports Generator
                        </div>
                    </div>

                </div>
                
                <div class="col-sm-2">
                </div>
            </div>
        </div>
    </script>
      
    <script type="text/template" id="oc-reports-template">

        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-2">
                </div>

                <div class="col-md-8">


                    <div class="row spacedRow">
                        <div class="col-sm-6 text-center align-self-center opnoteListTitle">
                            Opioid Calculator CSV (All Time)
                        </div>
                        
                        <div class="col-sm-6 text-center align-self-center" id="scoreLabel">
                            <div class="button updateScore" id="ocReportButtonDiv">
                                <input type="button" class="btn btn-outline-success" id="ocReportButton" value="Generate Report">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-2">
                </div>

            </div>
        </div>

    </script>
    
  </body>

  <!-- app -->
  <script src="js/moqc-oc.js"></script>

  <!-- reports page -->
  <script src="js/moqc-oc-reports.js"></script>

  <!-- app router -->
  <script src="js/moqc-oc-router.js"></script>

</html>